<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<form action="/alterar_dispositivo/{{id}}" method="post">
<body>
    <select name="led" id=""> 
        <option value="ligado">LIGADO</option>
        <option value="desligado">DESLIGADO</option>
    </select>
    <label for="nome">Digite o nome</label>
    <input type="text" name="nome">
    <label for="ip">Digite o IP</label>
    <input type="text" name="ip">
    <button type="submit">Enviar</button>
</form>

</body>
</html>